.u-section-1 {
  background-image: none;
  min-height: 568px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 1220px;
  margin: 60px 0 60px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 434px;
  pointer-events: auto;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 60px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 -38px;
}

.u-section-1 .u-text-2 {
  letter-spacing: normal;
  font-size: 0.875rem;
  font-weight: 400;
  margin: 26px 41px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 425px;
  pointer-events: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px 2px;
}

.u-section-1 .u-image-1 {
  width: 437px;
  height: 283px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 542px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 334px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 327px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-1 {
    width: 350px;
    height: 227px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 415px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 40px 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 250px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    width: 300px;
    height: 195px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 576px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 375px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 345px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 63px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 236px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 197px;
}

.u-section-2 .u-text-1 {
  margin: 20px 0 0;
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 400px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 350px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 220px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1136px;
}

.u-section-4 .u-text-1 {
  margin: 21px 0 0;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 428px;
  margin: -548px 570px 0 auto;
}

.u-section-4 .u-image-2 {
  width: 570px;
  height: 502px;
  margin: 106px 570px 0 auto;
}

.u-section-4 .u-image-3 {
  width: 550px;
  height: 502px;
  margin: -502px 0 21px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1664px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -561px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    margin-top: 119px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-image-3 {
    margin-top: 20px;
    margin-right: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1606px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 405px;
  }

  .u-section-4 .u-image-2 {
    width: 540px;
    height: 476px;
  }

  .u-section-4 .u-image-3 {
    width: 540px;
    height: 493px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1097px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 255px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 300px;
  }

  .u-section-4 .u-image-3 {
    width: 340px;
    height: 310px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 531px;
}

.u-section-5 .u-text-1 {
  margin: 20px 0 30px;
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 502px;
}

.u-section-6 .u-text-1 {
  width: 550px;
  font-weight: 700;
  margin: 87px auto 0;
}

.u-section-6 .u-text-2 {
  width: 550px;
  margin: 20px auto 60px;
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }
}