.u-section-1 {
  background-image: none;
  min-height: 568px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 1220px;
  margin: 60px 0 60px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 424px;
  pointer-events: auto;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 60px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 -38px;
}

.u-section-1 .u-text-2 {
  letter-spacing: normal;
  font-size: 0.875rem;
  font-weight: 400;
  margin: 50px 41px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 425px;
  pointer-events: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px 2px;
}

.u-section-1 .u-image-1 {
  width: 437px;
  height: 283px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 542px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 327px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 327px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-1 {
    width: 350px;
    height: 227px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 415px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 40px 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 250px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    width: 300px;
    height: 195px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 576px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 375px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 345px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 63px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 236px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 2223px;
}

.u-section-2 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-2 .u-image-1 {
  width: 1038px;
  height: 529px;
  margin: -1699px auto 0 0;
}

.u-section-2 .u-image-2 {
  width: 1050px;
  height: 551px;
  margin: 136px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2275px;
  }

  .u-section-2 .u-image-1 {
    width: 940px;
    height: 479px;
  }

  .u-section-2 .u-image-2 {
    width: 940px;
    height: 493px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1888px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 367px;
  }

  .u-section-2 .u-image-2 {
    width: 720px;
    height: 378px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1702px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 275px;
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    height: 284px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1495px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 173px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 179px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1915px;
}

.u-section-3 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-3 .u-image-1 {
  height: 556px;
  margin-top: -1642px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-3 .u-image-2 {
  width: 1090px;
  height: 582px;
  margin: 156px auto 369px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2045px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 64px;
  }

  .u-section-3 .u-image-1 {
    height: 461px;
    width: 927px;
    margin-top: -1612px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-2 {
    height: 502px;
    margin-top: 258px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1719px;
  }

  .u-section-3 .u-image-1 {
    height: 358px;
    width: 720px;
  }

  .u-section-3 .u-image-2 {
    height: 385px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1623px;
  }

  .u-section-3 .u-image-1 {
    height: 269px;
    width: 540px;
  }

  .u-section-3 .u-image-2 {
    height: 289px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1516px;
  }

  .u-section-3 .u-image-1 {
    height: 169px;
    width: 340px;
  }

  .u-section-3 .u-image-2 {
    height: 182px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 502px;
}

.u-section-4 .u-text-1 {
  width: 550px;
  font-weight: 700;
  margin: 87px auto 0;
}

.u-section-4 .u-text-2 {
  width: 550px;
  margin: 20px auto 60px;
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
}